/* <!-- fonts:
    font-family: 'Comfortaa', cursive;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Quicksand', sans-serif; --> */

body{
    background-color: #849DAB;
}

h1{
    margin: 60px;
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    color: white;
    font-size: 60px;
    
}

.main-container{
    position: absolute;
    transform: translate(-50%, -65%);
    top: 50%;
    left: 50%;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
    height: 50vh;
    width: 45vw;
    border-radius: 10px;
}

/* ----------------------------------------------- */

.human-container{
    background-color: white;
    border-radius: 10px 0 0 0;
    max-width: 45vw;
    overflow: hidden;
    overflow-wrap: break-word;
}

.humans{
    position: absolute;
    top: 50px;
    left: 30px;

    color: #bbc4cc;
}

#you {
    position: relative;
    left: 2vw;
}

.head{
    font-family: 'Comfortaa', cursive;
}

.body{
    font-family: 'Quicksand', sans-serif;
}

#you .head{
    position: absolute;
    font-size: 100px;
}

#you .body{
    position: absolute;
    top: 65px;
    left: 0px; 

    font-size: 120px;
    transform: rotate(-.5turn);
}

.friends{
    position: absolute;
    top: -40px;
    left: 150px;
}

.friends .head{
    font-size: 70px;
}

.friends .body{
    position: absolute;
    top: 50px;
    left: 1px;


    font-size: 80px;
    transform: rotate(-.5turn);
}

#f2{
    left: 250px;
}

#f3 {
    left: 350px;
}

#f4{
    top: 75px;
}

#f5{
    top: 75px;
    left: 250px;
}

#f6{
    top: 75px;
    left: 350px;
}



/* -------------------------------------------------- */

.letter-container{
    background-color: white;
    border-radius: 0 10px 0 0;
    border-left: 1px solid #d6dbe0;

    color: #bbc4cc;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    
    overflow: hidden;
    word-wrap: break-word;
    
}

#guessed-text{
    font-weight: bold;
    font-size: 23px;
}

.wrong-letters{
    font-size: 50px;
    letter-spacing: 15px;
}

.chosen-word{
    background-color: #bbc4cc;
    border-radius: 0 0 10px 10px;
    grid-column: 1/3;

    font-family: 'Nanum Pen Script', cursive;
    font-size: 40px;
    letter-spacing: 1.5vw;
    color: white;

    text-align: center;
    vertical-align: middle;
    line-height: 15vh;
    
}

/* -------------------guess container-------------------- */

.guess-container{
    width:  30vw;
    height: 5vh;
    position: absolute;
    transform: translate(-50%, 370%);
    text-align: center;
    top: 50%;
    left: 50%;
    
    color: white;
    font-size: 20px;
    
}

#guess-text{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
}

input{
    position: relative;
    left: 22px;
}


#guess-btn{
    position: relative;
    left: 20px;
    padding: 2px;
    background-color: #adb8c2;
    color: white;
    border-radius: 5px;
    border: 2px solid #adb8c2;


} 




/* ------------------------------------------ */

.new-game-container{
    color: white;


    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.new-game-button{
    position: absolute;
    left: 25vw;
    top: 18vh;
    height: 50px;
    width: 150px;

    background-color: #adb8c2;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    border: 2px solid #adb8c2;
}

#game-text{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 50px;
    color: white;
    text-align: center;
    width: 60vw;
}

/* ------------------------------------- */


#guessed{
    position: relative;
    font-size: 15px;
    letter-spacing: normal;
    display: block;
    padding: 5px;
}

.hide{
    display: none;
}

#game-text span {
    font-weight: 600;
    font-size: 50px;
}

@media (max-width: 930px) {
    #you{
        left: -2vw;
    }

    .friends {
        left: 8vw;
    }

    #f2{
        left: 16vw;
    }
    
    #f3 {
        left: 24vw;
    }

    #f5{
        left: 16vw;
    }
    
    #f6 {
        left: 24vw;
    }

    .chosen-word {
        font-size: 40px;
        letter-spacing: 2vw;
    }
} 